$--colors: (
  "primary": (
    "base": #EB4B4B,
  ),
  "warning": (
    "base": #FFB03F,
  ),
  "danger": (
    "base": #FB7D54
  ),
  "success": (
    "base": #00CC33,
  )
);

// we can add this to custom namespace, default is 'el'
@forward "element-plus/theme-chalk/src/mixins/config.scss" with (
  $namespace: "el"
);

// You should use them in scss, because we calculate it by sass.
// comment next lines to use default color
@forward "element-plus/theme-chalk/src/common/var.scss" with (
  // do not use same name, it will override.
  $colors: $--colors,
  $button-padding-horizontal: ("default": 30px)
);

// if you want to import all
@use "element-plus/theme-chalk/src/index.scss" as *;